karsimuno_aplikacija_2_2/web/WEB-INF/wsdl/localhost_8084/karsimuno_aplikacija_1/MeteoSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.karsimuno.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.karsimuno.nwtis.foi.org/" name="MeteoSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.karsimuno.nwtis.foi.org/" schemaLocation="http://localhost:8084/karsimuno_aplikacija_1/MeteoSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="dajAdresuUredjaja">
<part name="parameters" element="tns:dajAdresuUredjaja"/>
</message>
<message name="dajAdresuUredjajaResponse">
<part name="parameters" element="tns:dajAdresuUredjajaResponse"/>
</message>
<message name="dajVazeceMeteoPodatkeZaUredjaj">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaUredjaj"/>
</message>
<message name="dajVazeceMeteoPodatkeZaUredjajResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaUredjajResponse"/>
</message>
<message name="dajNZadnjihMeteoPodatkaZaUredjaj">
<part name="parameters" element="tns:dajNZadnjihMeteoPodatkaZaUredjaj"/>
</message>
<message name="dajNZadnjihMeteoPodatkaZaUredjajResponse">
<part name="parameters" element="tns:dajNZadnjihMeteoPodatkaZaUredjajResponse"/>
</message>
<message name="dajZadnjeMeteoPodatkeZaUredjaj">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaUredjaj"/>
</message>
<message name="dajZadnjeMeteoPodatkeZaUredjajResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaUredjajResponse"/>
</message>
<message name="dajSveMeteoPodatkeZaUredjaj">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaUredjaj"/>
</message>
<message name="dajSveMeteoPodatkeZaUredjajResponse">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaUredjajResponse"/>
</message>
<portType name="MeteoSOAP">
<operation name="dajAdresuUredjaja">
<input wsam:Action="http://ws.karsimuno.nwtis.foi.org/MeteoSOAP/dajAdresuUredjajaRequest" message="tns:dajAdresuUredjaja"/>
<output wsam:Action="http://ws.karsimuno.nwtis.foi.org/MeteoSOAP/dajAdresuUredjajaResponse" message="tns:dajAdresuUredjajaResponse"/>
</operation>
<operation name="dajVazeceMeteoPodatkeZaUredjaj">
<input wsam:Action="http://ws.karsimuno.nwtis.foi.org/MeteoSOAP/dajVazeceMeteoPodatkeZaUredjajRequest" message="tns:dajVazeceMeteoPodatkeZaUredjaj"/>
<output wsam:Action="http://ws.karsimuno.nwtis.foi.org/MeteoSOAP/dajVazeceMeteoPodatkeZaUredjajResponse" message="tns:dajVazeceMeteoPodatkeZaUredjajResponse"/>
</operation>
<operation name="dajNZadnjihMeteoPodatkaZaUredjaj">
<input wsam:Action="http://ws.karsimuno.nwtis.foi.org/MeteoSOAP/dajNZadnjihMeteoPodatkaZaUredjajRequest" message="tns:dajNZadnjihMeteoPodatkaZaUredjaj"/>
<output wsam:Action="http://ws.karsimuno.nwtis.foi.org/MeteoSOAP/dajNZadnjihMeteoPodatkaZaUredjajResponse" message="tns:dajNZadnjihMeteoPodatkaZaUredjajResponse"/>
</operation>
<operation name="dajZadnjeMeteoPodatkeZaUredjaj">
<input wsam:Action="http://ws.karsimuno.nwtis.foi.org/MeteoSOAP/dajZadnjeMeteoPodatkeZaUredjajRequest" message="tns:dajZadnjeMeteoPodatkeZaUredjaj"/>
<output wsam:Action="http://ws.karsimuno.nwtis.foi.org/MeteoSOAP/dajZadnjeMeteoPodatkeZaUredjajResponse" message="tns:dajZadnjeMeteoPodatkeZaUredjajResponse"/>
</operation>
<operation name="dajSveMeteoPodatkeZaUredjaj">
<input wsam:Action="http://ws.karsimuno.nwtis.foi.org/MeteoSOAP/dajSveMeteoPodatkeZaUredjajRequest" message="tns:dajSveMeteoPodatkeZaUredjaj"/>
<output wsam:Action="http://ws.karsimuno.nwtis.foi.org/MeteoSOAP/dajSveMeteoPodatkeZaUredjajResponse" message="tns:dajSveMeteoPodatkeZaUredjajResponse"/>
</operation>
</portType>
<binding name="MeteoSOAPPortBinding" type="tns:MeteoSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajAdresuUredjaja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVazeceMeteoPodatkeZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajNZadnjihMeteoPodatkaZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjeMeteoPodatkeZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveMeteoPodatkeZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MeteoSOAP">
<port name="MeteoSOAPPort" binding="tns:MeteoSOAPPortBinding">
<soap:address location="http://localhost:8084/karsimuno_aplikacija_1/MeteoSOAP"/>
</port>
</service>
</definitions>