karsimuno_aplikacija_2_2/src/conf/xml-resources/web-service-references/MeteoSOAP/wsdl/localhost_8084/karsimuno_aplikacija_1/MeteoSOAP.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://ws.karsimuno.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.karsimuno.nwtis.foi.org/">

<xs:element name="dajAdresuUredjaja" type="tns:dajAdresuUredjaja"/>

<xs:element name="dajAdresuUredjajaResponse" type="tns:dajAdresuUredjajaResponse"/>

<xs:element name="dajNZadnjihMeteoPodatkaZaUredjaj" type="tns:dajNZadnjihMeteoPodatkaZaUredjaj"/>

<xs:element name="dajNZadnjihMeteoPodatkaZaUredjajResponse" type="tns:dajNZadnjihMeteoPodatkaZaUredjajResponse"/>

<xs:element name="dajSveMeteoPodatkeZaUredjaj" type="tns:dajSveMeteoPodatkeZaUredjaj"/>

<xs:element name="dajSveMeteoPodatkeZaUredjajResponse" type="tns:dajSveMeteoPodatkeZaUredjajResponse"/>

<xs:element name="dajVazeceMeteoPodatkeZaUredjaj" type="tns:dajVazeceMeteoPodatkeZaUredjaj"/>

<xs:element name="dajVazeceMeteoPodatkeZaUredjajResponse" type="tns:dajVazeceMeteoPodatkeZaUredjajResponse"/>

<xs:element name="dajZadnjeMeteoPodatkeZaUredjaj" type="tns:dajZadnjeMeteoPodatkeZaUredjaj"/>

<xs:element name="dajZadnjeMeteoPodatkeZaUredjajResponse" type="tns:dajZadnjeMeteoPodatkeZaUredjajResponse"/>

<xs:complexType name="dajZadnjeMeteoPodatkeZaUredjaj">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjeMeteoPodatkeZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaci">
<xs:sequence>
<xs:element name="cloudsName" type="xs:string" minOccurs="0"/>
<xs:element name="cloudsValue" type="xs:int"/>
<xs:element name="humidityUnit" type="xs:string" minOccurs="0"/>
<xs:element name="humidityValue" type="xs:float" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="precipitationMode" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationUnit" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationValue" type="xs:float" minOccurs="0"/>
<xs:element name="pressureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="pressureValue" type="xs:float" minOccurs="0"/>
<xs:element name="sunRise" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sunSet" type="xs:dateTime" minOccurs="0"/>
<xs:element name="temperatureMax" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureMin" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="temperatureValue" type="xs:float" minOccurs="0"/>
<xs:element name="visibility" type="xs:string" minOccurs="0"/>
<xs:element name="weatherIcon" type="xs:string" minOccurs="0"/>
<xs:element name="weatherNumber" type="xs:int"/>
<xs:element name="weatherValue" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionCode" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionName" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionValue" type="xs:float" minOccurs="0"/>
<xs:element name="windSpeedName" type="xs:string" minOccurs="0"/>
<xs:element name="windSpeedValue" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajSveMeteoPodatkeZaUredjaj">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="from" type="xs:long"/>
<xs:element name="to" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajSveMeteoPodatkeZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajVazeceMeteoPodatkeZaUredjaj">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajVazeceMeteoPodatkeZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajNZadnjihMeteoPodatkaZaUredjaj">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="count" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajNZadnjihMeteoPodatkaZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAdresuUredjaja">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAdresuUredjajaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>